@import url('https://fonts.googleapis.com/css2?family=Libertinus+Keyboard&family=Roboto+Slab:wght@900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Roboto Slab", serif;
}

body{
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#0a0a0a,#333c49);
}
.calculator{
    border: 1px solid #3a4452;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(92, 96, 102, 0.5);
}
input{
    width: 320px;
    border: none;
    padding: 20px ;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgbs(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #ffffff;
}
input::placeholder{
    color: #ffffff;
}
h1{
    color:aquamarine;
    position: absolute;
    top: 0;
    padding: 10px;
    margin: 10px;
}
button{
    border: none;
     height: 60px;
    width: 60px;
    margin: 10px;
    border-radius: 50%;
    font-size: 20px;
    background: transparent;
    color: #ffffff;
    box-shadow: -8px -8px 15px rgba(225, 225, 225, 0.1);
    cursor: pointer;
}
.operator{
    color:#6dee0a;
}
.eqlbtn{
    background-color: #fb7c14;
}